#banner {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    vertical-align: middle;
    height: 100px;
    line-height: 100px;
    font-size: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(255, 246, 246);
    border-bottom: 8px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#text {
    padding-left: 110px;
    position: fixed;
}

#logo {
    position: fixed;
    width: 100px;
    height: 100px;
}

.top_button {
    background-color: rgb(133, 152, 237);
    border: 0;
    border-radius: 5px;
    padding: 20px;
    float: right;
    top: 0;
    right: 0;
    margin-top: 25px;
    margin-right: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 0.5s;
}

.top_button:hover {
    background-color: rgb(169, 183, 245);
    cursor: pointer;
}

#main {
    margin-left: 90px;
    margin-right: 90px;
    text-align: center;
    padding-top: 100px;
}

.titlu {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(0, 0, 0, 0.768);
    font-size: xx-large;
    padding-top: 10px;
}

.descriere {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(0, 0, 0, 0.768);
    font-size: 22px;
    padding-bottom: 10px;
}

#video {
    width: 800px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.card-image {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}


@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.overall {
    animation: fadein ease 1.2s;
    -webkit-animation: fadein ease 1.2s;
    -moz-animation: fadein ease 1.2s;
    -o-animation: fadein ease 1.2s;
    -ms-animation: fadein ease 1.2s;
}